html, body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-top: 0rem;
    font-family: 'Nunito', sans-serif;


  }
.top {
  display: grid;
  grid-template-columns: 0.4fr auto;
  column-gap: 0rem;
  width: 100%;
  padding: 0rem 0rem 0rem 0rem;


}
.logo {
  display: flex;
  width: 1%;
  padding: 0rem;
  margin: 0rem;

}
.logo img {
  display: flex;
  width: 12.5rem;
  height: 9rem;
  -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.1));
  padding: 0rem;
  margin: 0rem;

}

.top .navigation {
  display: grid;
  grid-template-rows: auto auto;
  row-gap: 0rem;
  width: 100%;
  margin-top: 0;

}
 nav {
  width: 100%;
  height: 2.5rem;
  
}

nav ul {
  display: flex;
  justify-content:left;
  gap: 2rem;
  list-style: none;
  background-color: #333;
  width: 100%;
  height: 2.5rem;
  align-items: center;
  padding-left: 1rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin: 0rem;

}

nav a {
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin: 0rem;
  color: white;
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

nav ul :hover {
  background-color: #04AA6D;
} 

/* @media (width <900px){
  nav ul > * {
    flex: auto;
  }
  .dropdownMenu > * {
    flex: auto;
  }
} */

.dropdownMenu {
  display: flex;
  justify-content:left;
  width: 100%;
  gap: 1.5rem;
  padding-left: 1rem;
  
}

.dropdown1 {
  display: block;
  /* margin-left: 330px; */
  /* margin-top: -4%; */
  width: 120px;

}

.dropdownsBttn {
  display: inline-flex;
  width: 140px;
  color: #333;
  text-align: center;
  padding: 14px 16px; 
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
  font-size: 17px;
  background-color: transparent;
  border: 0px;
  cursor:pointer;
  padding: 0rem;
  /* margin-left: 330px; */
  }

  .dropdowns-contents {
    display: none;
    position:absolute;
    /* width: 100%; */
    /* margin-left: -22%; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    border-radius: 0px;
    background-color: #333;
    padding-bottom: 30px;



  }
  .dropdowns-contents a {
    color: white;
    padding: 10px 16px;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;


  }
  .dropdown1:hover .dropdowns-contents{
    display: grid;
    grid-template-columns: repeat(2, 250px);
    grid-template-rows: 40px 40px 40px;

  }

  .dropdowns-contents :hover {
    font-size: 15px;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;

  }

  .dropdown2 {
    display: block;
    /* margin-top: -4%; */
    width: 120px;

  }

  .dropdown2:hover .dropdowns-contents {
    display: grid;
    grid-template-columns: repeat(2, 250px);
    grid-template-rows: 40px 40px 40px;
  }
  .dropdown3 {
    display: block;
    /* margin-top: -4%; */
    width: 120px;
  }
  .dropdown3:hover .dropdowns-contents {
    display: grid;
    grid-template-columns: repeat(2, 250px);
    grid-template-rows: 40px 40px 40px;
  }
  .dropdown4 {
    display: block;
    /* margin-top: -4%; */
    width: 120px;
  }
  .dropdown4:hover .dropdowns-contents {
    display: grid;
    grid-template-columns: repeat(2, 250px);
    grid-template-rows: 40px 40px 40px;

  }
  .dropdown5 {
    display: block;
    /* margin-top: -4%; */
    width: 120px;
  }
  .dropdown5:hover .dropdowns-contents {
    display: grid;
    grid-template-columns: repeat(2, 250px);
    grid-template-rows: 40px 40px 40px;

  }

.slogan{
  display: flex;
  justify-content:center;
  width: 100%;

  
}
.slogan h1 {
  margin-bottom: 0rem;
  font-size: 3rem;
  font-family: 'Archivo Black', sans-serif;
  color:rgb(40, 26, 91);
  padding: 2rem 0rem 0rem 0rem;
  text-shadow: 1px 1px 1px #40c1dd;
}
.slogan span {
  color: #40c1dd;
  text-shadow: 1px 1px 1px rgb(40, 26, 91);
}

.services {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  width: 100%;
  gap: 3%;
  padding: 2rem 0rem 2rem 0rem;
  margin-top: 0rem;
  margin-bottom: 0;
  row-gap: 0rem;
}

.services .it-infra, .dev-sw, .sec-consulting {
  display:grid;
  grid-template-columns: auto auto;
  justify-content: center;
  width: 100%;
  height: 90%;
  /* padding: 0rem 0rem 0rem 0rem; */
  gap:1%;
  column-gap: 0.7%;
  
}


.it-infra .managed-ser, .net-setup, .hw-support, .virtualization{
  display:flex;
  width: 12.5rem;
  height: 12.5rem;
  -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.1));


}
.managed-ser .managed-ser-pic {
  display: flex;
  justify-content: center;
  background-image: url("pics/ManagedIT.jpg");
  width: 12.5rem;
  height: 12.5rem;
  background-size: cover;
  border-top-right-radius: 20%;
  border-bottom-left-radius: 20%;
  border: 1px solid #041955;
  text-align: center;
  align-items: center;
 
}
.managed-ser:hover .managed-ser-pic{
  background-image: url("pics/managed-ser.png");
  background-size: cover;
  opacity: 1;
  animation: fade 1s linear;

}

.net-setup .net-setup-pic{
  display: flex;
  justify-content: center;
  background-image: url("pics/Network.jpg");
  width: 12.5rem;
  height: 12.5rem;
  background-size: cover;
  border-top-left-radius: 20%;
  border-bottom-right-radius: 20%;
  border: 1px solid #041955;
  text-align: center;
  align-items: center;
}
.net-setup:hover .net-setup-pic{
  background-image: url("pics/net-setup.png");
  background-size: cover;
  opacity: 1;
  animation: fade 1s linear;
}
.hw-support .hw-support-pic{
  display: flex;
  justify-content: center;
  background-image: url("pics/HardwareSupport.jpg");
  width: 12.5rem;
  height: 12.5rem;
  background-size: cover;
  border-top-left-radius: 20%;
  border-bottom-right-radius: 20%;
  border: 1px solid #041955;
  text-align: center;
  align-items: center;
}
.hw-support:hover .hw-support-pic{
  background-image: url("pics/hw-support.png");
  background-size: cover;
  opacity: 1;
  animation: fade 1s linear;
}
.virtualization .virtualization-pic{
  display: flex;
  justify-content: center;
  background-image: url("pics/Virtualization.jpg");
  width: 12.5rem;
  height: 12.5rem;
  background-size: cover;
  border-top-right-radius: 20%;
  border-bottom-left-radius: 20%;
  border: 1px solid #041955;
  text-align: center;
  align-items: center;
}
.virtualization:hover .virtualization-pic{
  background-image: url("pics/virtualization.png");
  background-size: cover;
  opacity: 1;
  animation: fade 1s linear;
}

.dev-sw .sw-dev, .web-dev, .database, .data-backup{
  display:flex;
  width: 12.5rem;
  height: 12.5rem;
  -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.1));
}
.sw-dev .sw-dev-pic {
  display: flex;
  justify-content: center;
  background-image: url("pics/SoftwareDev.jpg");
  width: 12.5rem;
  height: 12.5rem;
  background-size: cover;
  border-top-right-radius: 20%;
  border-bottom-left-radius: 20%;
  border: 1px solid #041955;
  text-align: center;
  align-items: center;
}
.sw-dev:hover .sw-dev-pic{
  background-image: url("pics/sw-dev.png");
  background-size: cover;
  opacity: 1;
  animation: fade 1s linear;
}
.web-dev .web-dev-pic {
  display: flex;
  justify-content: center;
  background-image: url("pics/WebDev.png");
  width: 12.5rem;
  height: 12.5rem;
  background-size: cover;
  border-top-left-radius: 20%;
  border-bottom-right-radius: 20%;
  border: 1px solid #041955;
  text-align: center;
  align-items: center;
}
.web-dev:hover .web-dev-pic{
  background-image: url("pics/web-dev.png");
  background-size: cover;
  opacity: 1;
  animation: fade 1s linear;
}

.database .database-pic {
  display: flex;
  justify-content: center;
  background-image: url("pics/Database.jpg");
  width: 12.5rem;
  height: 12.5rem;
  background-size: cover;
  border-top-left-radius: 20%;
  border-bottom-right-radius: 20%;
  border: 1px solid #041955;
  text-align: center;
  align-items: center;
}
.database:hover .database-pic{
  background-image: url("pics/database.png");
  background-size: cover;
  opacity: 1;
  animation: fade 1s linear;
}
.data-backup .data-backup-pic {
  display: flex;
  justify-content: center;
  background-image: url("pics/databkup.jpg");
  width: 12.5rem;
  height: 12.5rem;
  background-size: cover;
  border-top-right-radius: 20%;
  border-bottom-left-radius: 20%;
  border: 1px solid #041955;
  text-align: center;
  align-items: center;
}
.data-backup:hover .data-backup-pic{
  background-image: url("pics/data-backup.png");
  background-size: cover;
  opacity: 1;
  animation: fade 1s linear;
}

.sec-consulting .cyber, .cloud, .it-consulting, .helpdesk{
  display:flex;
  width: 12.5rem;
  height: 12.5rem;
  -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.1));
}
.cyber .cyber-pic {
  display: flex;
  justify-content: center;
  background-image: url("pics/cybersec.jpeg");
  width: 12.5rem;
  height: 12.5rem;
  background-size: cover;
  border-top-right-radius: 20%;
  border-bottom-left-radius: 20%;
  border: 1px solid #041955;
  text-align: center;
  align-items: center;
}
.cyber:hover .cyber-pic{
  background-image: url("pics/cyber-sec.png");
  background-size: cover;
  opacity: 1;
  animation: fade 1s linear;
}
.cloud .cloud-pic {
  display: flex;
  justify-content: center;
  background-image: url("pics/cloud.jpg");
  width: 12.5rem;
  height: 12.5rem;
  background-size: cover;
  border-top-left-radius: 20%;
  border-bottom-right-radius: 20%;
  border: 1px solid #041955;
  text-align: center;
  align-items: center;
}
.cloud:hover .cloud-pic{
  background-image: url("pics/cloud-ser.png");
  background-size: cover;
  opacity: 1;
  animation: fade 1s linear;
}
.it-consulting .it-consulting-pic {
  display: flex;
  justify-content: center;
  background-image: url("pics/ITConsulting.jpeg");
  width: 12.5rem;
  height: 12.5rem;
  background-size: cover;
  border-top-left-radius: 20%;
  border-bottom-right-radius: 20%;
  border: 1px solid #041955;
  text-align: center;
  align-items: center;
}
.it-consulting:hover .it-consulting-pic{
  background-image: url("pics/it-consulting.png");
  background-size: cover;
  opacity: 1;
  animation: fade 1s linear;
}
.helpdesk .helpdesk-pic {
  display: flex;
  justify-content: center;
  background-image: url("pics/helpdesk.jpg");
  width: 12.5rem;
  height: 12.5rem;
  background-size:cover;
  border-top-right-radius: 20%;
  border-bottom-left-radius: 20%;
  border: 1px solid #041955;
  text-align: center;
  align-items: center;
}
.helpdesk:hover .helpdesk-pic{
  background-image: url("pics/helpdesk.png");
  background-size: cover;
  opacity: 1;
  animation: fade 1s linear;

}
.it-infra-label, .dev-sw-label, .sec-consulting-label {
  text-align: center;
  padding: 0rem 0rem 1rem 0rem;
  grid-column: span 2;
  color:#041955;
  font-weight: bolder;
  font-size: 1rem;
}



@keyframes fade {
  0% { opacity: 0 }
  100% { opacity: 1 }
}


.gradient-section {
  background-color:#041955;
  background-image: linear-gradient(#041955, #40c1dd);
  align-items: center;
  margin-left: auto;
  margin-right: auto;


}
.gradient-contents {
  display: grid;
  grid-template-rows: .75fr 1fr;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.firstSection {
  display: grid;
  grid-template-columns: .75fr 1fr;
  gap: 6rem;
  color: white;
  font-family: 'Archivo Black', sans-serif;
  padding:4rem 4rem 1rem 4rem;
}
.firstSection p {
  font-family: 'Nunito', sans-serif; 
  font-size: 1.3rem;
}
.secondSection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding:1rem 4rem 3rem 4rem;
  gap: 1rem;
}
.secondSection a {
  text-decoration: none; 
  color: black;
}
.secondSection h3 {
  font-family: 'Archivo Black', sans-serif;
  color: rgb(40, 26, 91);          
}
.secondSection span {
  margin-left: 15rem;
}
.secondSection .solutions {
  background-color: white; 
  padding: 2rem;
  -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.1));
}
.secondSection .aboutus {
  background-color: white; 
  padding: 2rem;
  -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.1));
}
.secondSection .officePic {
  background-color: white;
  padding: 2rem;
  background-image: url('pics/office.jpg');
  background-size: cover;
  -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.1));
            
}
.secondSection :hover {
  background-color: beige;
}



footer {
  display: grid;
  grid-template-rows: auto auto;
  width: 100%;
  background-color: #041955;
  align-items: center;
  margin-top:6%;
  bottom: 0;
  padding: 0rem 0rem 0rem 0rem;

}
footer .firstSection {
  display: grid; 
  grid-template-columns: auto auto auto;
  padding-top: 1rem;
}
.firstSection img {
  width: 300px;
}
.firstSection h2 {
  color: #40c1dd;
  margin-bottom: 0;
  line-height: 2rem;
}
.firstSection a {
  text-decoration: none; 
  color: white;
  font-family: 'Nunito', sans-serif; 
  font-size: 1rem;  
  line-height: 2rem;


}
.firstSection p {
  color: white;
  font-family: 'Nunito', sans-serif; 
  font-size: 1rem;
  line-height: 1rem;

}
.copyright {
  display: grid;
  grid-template-columns: auto;
  border-top: 1px solid white;
  align-items: center;
  justify-content: center;
  padding-top: 1.5rem;
}

.copyright p {
  color: white;
  font-family: 'Nunito', sans-serif; 
  font-size: 0.7rem;

}

@media (max-width: 800px ){
  .top {
    grid-template-columns: auto;
  }
  .navigation{
    min-width: 23rem;
  }
  nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 0rem;
  }
  nav ul {
    gap: 0.1rem;
    justify-content: center;
    height: 2.5rem;
    align-items: center;
    margin-left: 0rem;

  }
  nav a {
    text-align: center;
    font-size: 0.7rem;
    font-weight: bolder;
    padding: 0.9rem 0.5rem 0.6rem 0.5rem;
  }
  .dropdownMenu {
    display: grid;
    grid-template-columns: auto;
  }
  .slogan h1 {
    font-size:1.3rem;
  }
  .services {
    grid-template-columns: auto;
    gap: 2%;
  
  }
  .services .it-infra, .dev-sw, .sec-consulting {
    row-gap: 1.2%;
  }
  .it-infra .managed-ser, .net-setup, .hw-support, .virtualization {
    width: 8rem;
    height: 8rem;
  }
  .managed-ser .managed-ser-pic{
    width: 8rem;
    height: 8rem;
  } 
  .net-setup .net-setup-pic {
    width: 8rem;
    height: 8rem;
  } 
  .hw-support .hw-support-pic {
    width: 8rem;
    height: 8rem;
  }
  .virtualization .virtualization-pic {
    width: 8rem;
    height: 8rem;
  }

  .dev-sw .sw-dev, .web-dev, .database, .data-backup{
    width: 8rem;
    height: 8rem;
  }

  .sw-dev .sw-dev-pic {
    width: 8rem;
    height: 8rem;
  }
  .web-dev .web-dev-pic {
    width: 8rem;
    height: 8rem;
  }
  .database .database-pic{
    width: 8rem;
    height: 8rem;
  }
  .data-backup .data-backup-pic {
    width: 8rem;
    height: 8rem;
  }
  .sec-consulting .cyber, .cloud, .it-consulting, .helpdesk {
    width: 8rem;
    height: 8rem;
  }
  .cyber .cyber-pic {
    width: 8rem;
    height: 8rem;
  }
  .cloud .cloud-pic {
    width: 8rem;
    height: 8rem;
  }
  .it-consulting .it-consulting-pic {
    width: 8rem;
    height: 8rem;
  }
  .helpdesk .helpdesk-pic {
    width: 8rem;
    height: 8rem;
  }
  .it-infra-label, .dev-sw-label, .sec-consulting-label {
    font-size: 0.6rem;
    word-break: break-all;
  }
}