html, body{
    background-image: url("pics/background.png");
    margin: 0;
    font-family: 'Nunito', sans-serif;
    background-size:cover;
    background-attachment: fixed;

  }
.top {
  display: flex;
  gap: 10%;
}
.logo {
  width: 200px;
}
  .logo img {
    width: 200px;
    -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.1));
  }

nav {
  display: inline-flex;
  width: 100%;
  height: 50px;
  margin-top: -20px; /* is it the right way???*/
}

nav ul {
  display: flex;
  justify-content:flex-start;
  list-style: none;
  background-color: #333;
  width: 100%;
  height: 41px;
  align-items: center;
  padding-left: 0px;
  border-bottom-left-radius: 10px;

}

nav a {
  text-decoration: none;
  padding: 0.5rem 1rem;
  color: white;
  text-align: center;
  border: 0px;
  height: 100px;
  font-family: 'Nunito', sans-serif;
 
  

}
.search {
  margin-right: 10px;
  margin-left: 50%;
  border-radius: 5px;
  width: 15%;
}

nav ul :hover {
  background-color: #04AA6D;
}

@media (width <900px){
  nav ul > * {
    flex: auto;
  }
  .dropdownMenu > * {
    flex: auto;
  }
}
/* @media (width > 900px) {
  /* nav ul {
   display: flex;
   justify-content:space-evenly;
   }  */
/* } */
  /* nav ul > * {
   flex: auto; */


.dropdownMenu {
  display: flex;
}

.dropdown1 {
  display: block;
  margin-left: 330px;
  margin-top: -60px;
  width: 120px;
}
  
.dropdownsBttn {
  width: 120px;
  color: #333;
  text-align: center;
  padding: 14px 16px; 
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
  font-size: 17px;
  background-color: transparent;
  border: 0px;
  cursor:pointer;
  }

  .dropdowns-contents {
    display: none;
    position:absolute;
    width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
  }
  .dropdowns-contents a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;

  }
  .dropdown1:hover .dropdowns-contents{
    display: grid;
    grid-template-columns: repeat(2, 150px);
  }

  .dropdowns-contents :hover {
    font-size: 15px;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
  }

  .dropdown2 {
    display: block;
    margin-top: -60px;
    width: 120px;
  }

  .dropdown2:hover .dropdowns-contents {
    display: grid;
    grid-template-columns: repeat(2, 150px);
  }
  .dropdown3 {
    display: block;
    margin-top: -60px;
    width: 120px;
  }
  .dropdown3:hover .dropdowns-contents {
    display: grid;
    grid-template-columns: repeat(2, 150px);
  }
  .dropdown4 {
    display: block;
    margin-top: -60px;
    width: 120px;
  }
  .dropdown4:hover .dropdowns-contents {
    display: grid;
    grid-template-columns: repeat(2, 150px);
  }
