body{
    background-image: url("pics/background.png");
    margin: 0;
    font-family: 'Nunito', sans-serif;
    background-size:cover;
    background-attachment: fixed;

  }
.logo {
  display: inline-flex;
  width: 200px;
}
  .logo img {
    width: 200px;
    -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.1));
  }

.topnav {
    display: flex;
    float: right;
    background-color: #333;
    width: 80%;
    border-bottom-left-radius: 10px;
    font-weight: bold;
    
}
  .topnav a {
    height: 35px;
    width: 150px;
    color: white;
    text-align:center;
    padding-top: 17.5px;
    text-decoration: none;
  }
  .topnav input {
    height: 30px;
    width: 150px;
    margin-right: 50px;
    margin-left: 400px;
    margin-top: 10px;
    border-radius: 10px;
    border-width: 0px;

  }
  .topnav a.active {
    background-color: #04AA6D;
  }  
  .topnav a:hover {
      background-color: #ddd;
      color: black;   
    }

  .topnav .searchbutton {
    width: 30px;
    height: 30px;
    align-items: center;
    margin-left: -80px;
    border-width: 0px;
    border-radius: 10px;
    margin-top: 12px;
    background-color: transparent;
  }

  .topnav .searchImg {
    height: 15px;
    width: 15px;
    
  }

  .dropdown1 {
    display: flex;
    margin-left: 300px;
    margin-top: -60px;
    width: 120px;
  }
  
  .dropdownsBttn {
    width: 120px;
    color: #333;
    text-align: center;
    padding: 14px 16px; 
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 17px;
    background-color: transparent;
    border: 0px;
    cursor:pointer;
  }
  .dropdowns-contents {
    display: none;
    position:absolute;
    width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
  }
  .dropdowns-contents a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown1:hover .dropdowns-contents{
    display: grid;
    grid-template-columns: repeat(2, 150px);
  }

  .dropdowns-contents :hover {
    font-size: medium;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
  }

  .dropdown2 {
    display: inline-flex;
    /* margin-left: 300px; */
    margin-top: -60px;
    width: 120px;
  }

  .dropdown2:hover .dropdowns-contents {
    display: grid;
    grid-template-columns: repeat(2, 150px);
  }
