html, body {
    height: 100vh;
    margin: 0;
    background-color: rgb(30, 30, 30);
    
}
.logo {
    display: block;
    position:absolute;
    width: 15%;
    z-index: 2;
    top: 0%;
    -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.1));
}
.logo img {
    display: block;
    object-fit: cover;
    width: 100%;
}
.navigation {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    justify-content: center;
    /* background-color: #303030; */
    gap: 3%;
    height: 3vw;

    
}
.drp-dwn-bttn {
    display: flex;
}
.navigation button, .drp-dwn-bttn button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 2vmin;
    color: #333;
    font-family: 'Nunito', sans-serif;
    background-color: transparent;
    border: 0px;
    cursor:pointer;
    padding: 0rem;
    color: whitesmoke;

}

.menuIcon {
    display: none;
    justify-content: right;
    padding: 1rem 2rem 0rem 1rem;

}
.menuIcon button{
    display: flex;
    font-family: 'Nunito', sans-serif;
    font-size: 5vw;
    background-color: transparent;
    border: 0px;
    cursor:pointer;
    padding: 0rem;
    color: whitesmoke;
}
.menuIcon :hover {
    color:#40c1dd;
}
.navigation :hover {
    font-weight: bolder;

}

.drp-dwn-bttn:hover .dropdowns-contents{
    display: grid;
}

.dropdowns-contents {
    display: none;
    position:absolute;
    width: 100%;
    justify-content:space-around;
    grid-template-columns: auto auto auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    background-color: #333;
    margin-top: 3%;
    padding-bottom: 1.875rem;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 1vw;
    left: 0%;
    z-index: 20;


}

.it-infras, .dev-and-sw, .sec-and-consult {
    display: grid;
    grid-template-columns: auto;
    justify-content: left;
    padding: 2rem;


}

.dropdowns-contents a {
    color: white;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    font-size: 1vw;
    line-height: 2vw;
}
.dropdowns-contents ul :hover {
    font-weight: bolder;
    color: #40c1dd;
}


.blocks-animation {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1.5%;
    
    
}
.blocks-contents {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    padding-top: 15vw;
    padding-bottom: 15vw;
    align-items: center;
    overflow: hidden;
    background-image: linear-gradient(to bottom, transparent 60%, #298091 100%);
    padding-left: 3vw;
    gap: 0;
    justify-content: space-around;
}
.block-list {
    position: relative;
    transform: skewY(-15deg);
    transform: rotateZ(45deg);
    margin: 0;
    padding:0;
}
.block-list .lbl {
    padding-bottom: 3.5vw;
    margin-left: -2vw;
    font-size: 1.5vw;
    
    font-family: 'Archivo Black', sans-serif;
    color: rgba(245, 245, 245, 0.763);
    -webkit-text-stroke: 1px #3091a6;
    

}
.block-list li {
    position: relative;
    list-style: none;
    width: 25vw;
    /* padding: 0.2rem; */
    background-color: #298091;
    z-index: calc(1 * var(--i));
    transition: 0.5s;
    padding: 1vw;
    border-left: 0.5px solid rgba(245, 245, 245, 0.763);
    /* border-bottom: 0.5px solid rgba(245, 245, 245, 0.763); */


}

.block-list li:hover {
    background: rgb(64, 193, 221);
    transform: translateX(-50px);

}

.block-list li::before {
    color: rgba(245, 245, 245, 0.763);
    display: flex;
    justify-content: center;
    align-items: center;
    content: attr(data-icon);
    position: absolute;
    top: 0;
    left: -3vw;
    width: 3vw;
    height: 100%;
    background-color: rgba(41, 128, 145,1);
    transform-origin: right;
    transform: skewY(45deg);
    transition: 0.5s;
    font-size: 1.3vw;
    /* border-bottom: 0.5px solid rgba(245, 245, 245, 0.763); */
}

.block-list li:hover::before {
    background: #3091a6;
    font-weight: bolder;
}

.block-list li::after {
    content: "";
    position: absolute;
    top:-2.9vw;
    left: 0;
    width: 100%;
    height: 3vw;
    background-color: rgba(41, 128, 145,0.9);
    transform-origin: bottom;
    transform: skewX(45deg);
    transition: 0.5s;
    border-left: 0.5px solid rgba(245, 245, 245, 0.763);
    border-bottom: 0.5px solid rgba(245, 245, 245, 0.763);
}
.block-list li:hover::after {
    background: rgba(64, 193, 221,0.8);
}

.block-list li a {
    text-decoration: none;
    color: rgba(245, 245, 245, 0.763);
    /* text-transform: uppercase; */
    letter-spacing: 0.08vw;
    transition: 0.5s;
    font-size: 1.3vw;
}

/* .block-list li:hover a {
    font-weight: bolder;
} */
.block-list li:last-child::after {
    box-shadow: -5vw 7vw 1vw rgba(0,0,0,0.25);
    z-index: 10;
}


.hero {
    display: flex;
    width: 100%;
    height: 500px;
    background-image: url("pics/office.jpg");
    background-size:cover;
    background-position: right;
    position: relative;
    margin-bottom: 0;
}
.hero-contents {
    display: grid;
    grid-template-rows: 2;
    justify-content: left;
    position: absolute;
    width: 100%;
    height: 500px;
    margin:0;
    left: 0; 
    top: 0;
    /* padding-top: 3vw; */
    background-image: linear-gradient(to right, rgba(30,30,30,1) 40%, rgba(0,0,0,0.7) 70%, rgba(0,0,0,0.4) 80%,transparent);
}
.hero h1 {
    font-size: 3vw;
    font-family: 'Archivo Black', sans-serif;
    color: whitesmoke;
    text-align: left;
    margin: auto;
    margin-left: 8vw;
}
.hero h2{
    font-size: 2vw;
    font-family: 'Archivo Black', sans-serif;
    color: rgba(64, 193, 221,1);
    text-align: left;
    margin: auto;
    margin-left: 8vw;
}
.hero a{
    text-decoration: none;
}
.hero span {
    color: rgba(64, 193, 221,1);
}
.entrySection {
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    margin-bottom: 7vw;

}
.slogan {
    display: flex;
    margin-top: 4rem;
    padding: 0rem 2rem 2rem 2rem;
    justify-content: center;
    /* align-items: top; */
}
.slogan h1 {
    margin-bottom: 0rem;
    font-size: 3vw;
    font-family: 'Archivo Black', sans-serif;
    color: whitesmoke;
    padding: 0rem 0rem 0rem 0rem;
    text-shadow: 1px 1px 1px whitesmoke;
  
  }
  .slogan span {
    color: #40c1dd;
    text-shadow: 1px 1px 1px rgb(40, 26, 91);
  }

.solutions {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 3%;
    padding: 0rem 2rem 0rem 2rem;
    justify-content: center;
    align-items: center;
    
}
.it-infra, .dev-sw, .sec-consult {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    /* grid-row: auto; */
    gap: 0.9%;
    


} 

.managed-ser img, .sw-dev img, .cyber-sec img, .virtualization img, .data-backup img, .helpdesk img  {
    display: flex;
    width: 100%;
    object-fit: cover;
    border-top-right-radius:20%;
    border-bottom-left-radius:20%;
    -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.1));
    z-index: 10;
}
.net-setup img, .web-dev img, .cloud img, .hw-support img, .database img, .it-consult img {
    display: flex;
    width: 100%;
    object-fit: cover;
    border-top-left-radius:20%;
    border-bottom-right-radius:20%;
    -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.1));
}
.it-infra-label, .dev-sw-label, .sec-consult-label{
    display: flex;
    justify-content: center;
    grid-column: span 2;
    font-family: 'Nunito', sans-serif;
    font-size: 1.7vw;
    font-weight: bold;
    color: white;
    text-align: center;
    padding-top: 5%;
    
}

.gradient-section {
    display: flex;
    justify-content: center;
    background-color:#041955;
    background-image: linear-gradient(#041955, #40c1dd);
    align-items: center;
    width: 100%;

  }
.gradient-contents {
    display: grid;
    grid-template-rows: auto auto;
    padding: 4vw 4vw 4vw 4vw;
    width: 100%;
}

.firstSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 3vw;
    gap: 2vw;

}
.firstSection .header-h {
    display: flex;
    justify-content: left;
    color: white;
    font-family: 'Archivo Black', sans-serif;
    font-size: 2vw;
    align-items: center;

  
  }
.firstSection .paragraph {
    display: flex;
    justify-content: center;
    font-family: 'Nunito', sans-serif; 
    font-size: 1.3vw;
    color: white;
    align-items: center;
    text-align: justify;
}
.secondSection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    gap: 2%;


  }
.secondSection a {
  text-decoration: none; 

}
.secondSection :hover {
    background-color: beige;
}
.boxes {
    display: grid;
    grid-template-rows: 0.4fr 1fr;
    gap: 0%;
    justify-content:center;
    background-color: white; 
    -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.1));
    padding: 4rem 3rem 4rem 3rem;
    align-items: center;

}
.h-title{
    display: flex;
    justify-content: space-between;
    color: black;
    font-family: 'Archivo Black', sans-serif;
    text-align: left;
    font-size: 1vw;
    color: #041955;
    height: 5vw;

    
}
.h-title h2 {
    margin: 0;
}
.p-body{
    display: flex;
    justify-content: space-between;
    font-family: 'Nunito', sans-serif; 
    font-size: 1.2vw;
    color: black;
    height: 15vw;
    text-align: justify;

}
.p-body p {
    margin: 0;
}

.secondSection .officePic {
  display: flex;
  justify-content: center;
  -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.1));
}
.officePic img {
  width: 100%;
  object-fit:cover;
}

.letsConnect {
    display: flex;
    width: 100%;
    height: 500px;
    background-image: url("pics/office.jpg");
    background-size:cover;
    background-position: right;
    position: relative;
    margin-top: 8vw
}
.letsConnect-contents {
    display: grid;
    grid-template-rows: 2;
    justify-content: left;
    position: absolute;
    width: 100%;
    height: 500px;
    margin:0;
    left: 0; 
    top: 0;
    background-image: linear-gradient(to right, rgba(30,30,30,1) 40%, rgba(30,30,30,0.7) 70%, rgba(30,30,30,0.4) 80%,transparent);
}
.letsConnect-contents h1{
    font-size: 3vw;
    font-family: 'Archivo Black', sans-serif;
    color: rgba(64, 193, 221,1);
    text-align: left;
    margin: auto;
    margin-left: 8vw;
}

.form-section {
    width: 100%;
}
.form-contents {
    display: flex;
    justify-content: space-around;
    padding: 2vw;
    background-color: #38aac1;
    margin: auto;

}
.address-info {
    display: flex;
    flex-direction: column;
    background-color:aliceblue;
    padding: 3vw;
    border-radius: 1vw;
    width: 25vw;
    align-items: left;
    
}
.address-info h2 {
    font-family: 'Archivo Black', sans-serif;
    font-size: 2.5vw;
    color: black;
    margin: 0;
}
.address-info p {
    font-family: 'Nunito', sans-serif; 
    font-size: 1.3vw;
    color: black;
}
.form-field form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
    background-color:aliceblue;
    padding: 3vw;
    border-radius: 1vw;
    width: 35vw;
}
form input {
    width: 30vw;
    height: 3.5vw;
    font-family: 'Nunito', sans-serif; 
    font-size: 1.3vw;
    color: black;
    border-radius: 2px;
    border: 1px solid grey; 

}
form textarea {
    width: 30vw;
    height: 10vw;
    font-family: 'Nunito', sans-serif; 
    font-size: 1.3vw;
    color: black;
    border-radius: 3px;
}
form button {
    width: 9vw;
    font-family: 'Nunito', sans-serif; 
    font-size: 1.3vw;
    color: whitesmoke;
    font-weight: bold;
    background-color: #ff9189;
    border:0;
    border-radius: 30px;
    cursor: pointer;

}

footer {
    display: grid;
    grid-template-rows: 1fr 0.1fr;
    row-gap: 0;
    background-color: #041a55;
    bottom: 0;
    font-family: 'Nunito', sans-serif; 
    color: whitesmoke;
    margin-top: 3vw;
    
}
.footer-contents {
    display: flex;
    justify-content:space-evenly;
    gap: 5%;
}
.second-part, .third-part {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
}
.IT-Solutions-h2 h2, .mission-vision h2, .contact-us-h2 h2 {
    font-size: 1.3vw;
    padding-bottom: 0;
    margin-bottom: 0;
}
.IT-Solutions {
    display: grid;
    grid-template-columns: auto;
    gap: 10%;
}
.IT-Solutions a {
    font-size: 1vw;
    color: whitesmoke;
    text-decoration: none;
    padding: 0;
}
.mission-vision a {
    color: whitesmoke;
    text-decoration: none;
}
.IT-Solutions :hover, .mission-vision a :hover {
    font-weight: bolder;
    color: #40c1dd;
}
.contact-us-p p {
    font-size: 0.9vw;
}

.footer-logo {
    display: flex;
    justify-content: center;
    width: 20%;
    padding: 1vw;
    
}
.footer-logo img {
    display: flex;
    margin: auto;
    width: 100%;
    -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.1));
    /* object-fit:fill; */
}

.copyright {
    display: flex;
    justify-content: center;
    font-size: 0.9vw;
    border-top: 1px solid rgb(76, 75, 75);

}

@media (max-width: 840px) {
    .logo {
        width: 15%;
    }
    .navigation {
        display: none;
        grid-template-columns: auto;
        position: absolute;
        right: 0%;
        justify-content: right;
        background-color: transparent;
        width: 100%;
        z-index: 10;
        margin-top: 8vw;

    }
    .navigation button, .drp-dwn-bttn button {
        font-size: 2vw;
        justify-content: right;

    }
    .dropdowns-contents {
        
        margin-top: 5vw;
        right: 0%;
        font-size: 2vw;

    }
    .navigation button, .drp-dwn-bttn button {
        padding: 1rem 2rem 0rem 0rem;
    }
    .dropdowns-contents a {
        font-size: 1.7vw;
        line-height: 3vw;
    }

    .blocks-contents {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        gap: 8vw;
        padding-top: 10vw;
    }
    .block-list {
        transform: rotateZ(0deg);
    }
    .block-list .lbl {
        font-size: 2.8vw;
        color: black;
        -webkit-text-stroke: 0.1vw whitesmoke;
    }
    .block-list li {
        width: 55vw;
    }
    .block-list li a {
        font-size: 3vw;
    }
    .block-list li:last-child::after {
        box-shadow: -10vw 10vw 1vw rgba(0,0,0,0.25);
    }

    .hero {
        height: 250px;
        
    }
    .hero-contents {
        
        height: 250px;
    }
    .slogan {
        margin-top: 1rem;
    }
    .solutions {
        grid-template-columns: auto;
        width: 50%;
        margin: auto;
    }
    .it-infra-label, .dev-sw-label, .sec-consult-label{
        font-size: 2.7vw;
        padding-bottom: 4vw;  
    }
    .gradient-contents {
        grid-template-columns: auto;
        width: 70%;
        margin-bottom: 7vw;
        padding-top: 8vw;

    }
    .firstSection {
        grid-template-columns: auto;
    }
    .firstSection .header-h {
        font-size: 4vw;

    }
    .firstSection .paragraph {
        font-size: 3vw;

    }

    .secondSection {
        grid-template-columns: auto;
    }
    .boxes {
        /* height: 60vw; */
        align-items:baseline;
    }
    .h-title{
        font-size: 2.5vw;
    }
    .p-body{
        font-size: 2.5vw;
        margin-top: 8vw;
    }
    .menuIcon {
        display: flex;

    }
    
}
