body {
    background-color: rgb(30, 30, 30);
}
.blocks-animation {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-image: linear-gradient(to left, white 70%, transparent);
    
}
.blocks-contents {
    display: grid;
    grid-template-columns: auto auto auto;
    padding-top: 15vw;
    padding-bottom: 15vw;
    align-items: center;
    overflow: hidden;
}
ul {
    position: relative;
    transform: skewY(-15deg);
    transform: rotateZ(45deg);
    margin: 0;
}

li {
    position: relative;
    list-style: none;
    width: 25vw;
    padding: 0.2rem;
    background-color: rgb(62, 63, 70);
    z-index: calc(1 * var(--i));
    transition: 0.5s;
    padding: 1vw;

}

li:hover {
    background: rgb(64, 193, 221);
    transform: translateX(-50px);
}

li::before {
    color: #999;
    display: flex;
    justify-content: center;
    align-items: center;
    content: attr(data-icon);
    position: absolute;
    top: 0;
    left: -3vw;
    width: 3vw;
    height: 100%;
    background: #2e3133;
    transform-origin: right;
    transform: skewY(45deg);
    transition: 0.5s;
    font-size: 1.1vw;

}

li:hover::before {
    background: #3091a6;
    font-weight: bolder;
}

li::after {
    content: "";
    position: absolute;
    top:-3vw;
    left: 0;
    width: 100%;
    height: 3vw;
    background: rgba(62, 63, 70, 0.8);
    transform-origin: bottom;
    transform: skewX(45deg);
    transition: 0.5s;
    border-bottom: 0.5px solid grey;
    border-left: 0.5px solid grey;
}
li:hover::after {
    background: rgba(64, 193, 221,0.8);
    border: 0;
}

li a {
    text-decoration: none;
    color: whitesmoke;
    /* display: block; */
    text-transform: uppercase;
    letter-spacing: 0.08vw;
    transition: 0.5s;
    font-size: 1.1vw;
}

li:hover a {
    color: rgba(62, 63, 70, 0.8);
}
li:last-child::after {
    box-shadow: -5vw 7vw 1vw rgba(0,0,0,0.25);
}