html, body {
    height: 100vh;
    margin: 0;
    background-color: #1e1e1e;
    
}
.logo {
    display: block;
    position:absolute;
    width: 15%;
    z-index: 2;
    top: 0%;
    -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.1));
}
.logo img {
    display: block;
    object-fit: cover;
    width: 100%;
}
.navigation {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    justify-content: center;
    /* background-color: #303030; */
    gap: 3%;
    height: 3vw;

    
}
.drp-dwn-bttn {
    display: flex;
}
.navigation button, .drp-dwn-bttn button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 2vmin;
    color: #333;
    font-family: 'Nunito', sans-serif;
    background-color: transparent;
    border: 0px;
    cursor:pointer;
    padding: 0rem;
    color: whitesmoke;

}

.menuIcon {
    display: none;
    justify-content: right;
    padding: 1rem 2rem 0rem 1rem;

}
.menuIcon button{
    display: flex;
    font-family: 'Nunito', sans-serif;
    font-size: 5vw;
    background-color: transparent;
    border: 0px;
    cursor:pointer;
    padding: 0rem;
    color: whitesmoke;
}
.menuIcon :hover {
    color:#40c1dd;
}
.navigation :hover {
    font-weight: bolder;

}

.drp-dwn-bttn:hover .dropdowns-contents{
    display: grid;
}

.dropdowns-contents {
    display: none;
    position:absolute;
    width: 100%;
    justify-content:space-around;
    grid-template-columns: auto auto auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    background-color: #333;
    margin-top: 3%;
    padding-bottom: 1.875rem;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 1vw;
    left: 0%;
    z-index: 10;


}

.it-infras, .dev-and-sw, .sec-and-consult {
    display: grid;
    grid-template-columns: auto;
    justify-content: left;
    padding: 2rem;


}

.dropdowns-contents a {
    color: white;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    font-size: 1vw;
    line-height: 2vw;
}
.dropdowns-contents ul :hover {
    font-weight: bolder;
    color: #40c1dd;
}


  

.entrySection {
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    margin-bottom: 7vw;

}
.slogan {
    display: flex;
    margin-top: 4rem;
    padding: 0rem 2rem 2rem 2rem;
    justify-content: center;
    /* align-items: top; */
}
.slogan h1 {
    margin-bottom: 0rem;
    font-size: 3vw;
    font-family: 'Archivo Black', sans-serif;
    color: whitesmoke;
    padding: 0rem 0rem 0rem 0rem;
    text-shadow: 1px 1px 1px whitesmoke;
  
  }
  .slogan span {
    color: #40c1dd;
    text-shadow: 1px 1px 1px rgb(40, 26, 91);
  }

.solutions {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 3%;
    padding: 0rem 2rem 0rem 2rem;
    justify-content: center;
    align-items: center;
    
}
.it-infra, .dev-sw, .sec-consult {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    /* grid-row: auto; */
    gap: 0.9%;
    


} 

.managed-ser img, .sw-dev img, .cyber-sec img, .virtualization img, .data-backup img, .helpdesk img  {
    display: flex;
    width: 100%;
    object-fit: cover;
    border-top-right-radius:20%;
    border-bottom-left-radius:20%;
    -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.1));
    z-index: 10;
}
.net-setup img, .web-dev img, .cloud img, .hw-support img, .database img, .it-consult img {
    display: flex;
    width: 100%;
    object-fit: cover;
    border-top-left-radius:20%;
    border-bottom-right-radius:20%;
    -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.1));
}
.it-infra-label, .dev-sw-label, .sec-consult-label{
    display: flex;
    justify-content: center;
    grid-column: span 2;
    font-family: 'Nunito', sans-serif;
    font-size: 1.7vw;
    font-weight: bold;
    color: white;
    text-align: center;
    padding-top: 5%;
    
}

.gradient-section {
    display: flex;
    justify-content: center;
    background-color:#041955;
    background-image: linear-gradient(#041955, #40c1dd);
    align-items: center;
    width: 100%;
    padding: 
  }
.gradient-contents {
    display: grid;
    grid-template-rows: auto auto;
    padding: 4vw 4vw 4vw 4vw;
    width: 100%;
}

.firstSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 3vw;
    gap: 2vw;

}
.firstSection .header-h {
    display: flex;
    justify-content: left;
    color: white;
    font-family: 'Archivo Black', sans-serif;
    font-size: 2vw;
    align-items: center;

  
  }
.firstSection .paragraph {
    display: flex;
    justify-content: center;
    font-family: 'Nunito', sans-serif; 
    font-size: 1.5vw;
    color: white;
    align-items: center;
    text-align: justify;
}
.secondSection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    gap: 2%;


  }
.secondSection a {
  text-decoration: none; 

}
.secondSection :hover {
    background-color: beige;
}
.boxes {
    display: grid;
    grid-template-rows: 0.4fr 1fr;
    gap: 0%;
    justify-content:center;
    background-color: white; 
    -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.1));
    padding: 4rem 3rem 4rem 3rem;
    align-items: center;

}
.h-title{
    display: flex;
    justify-content: space-between;
    color: black;
    font-family: 'Archivo Black', sans-serif;
    text-align: left;
    font-size: 1vw;
    color: #041955;
    height: 5vw;

    
}
.h-title h2 {
    margin: 0;
}
.p-body{
    display: flex;
    justify-content: space-between;
    font-family: 'Nunito', sans-serif; 
    font-size: 1.3vw;
    color: black;
    height: 20vw;
    text-align: justify;

}
.p-body p {
    margin: 0;
}

.secondSection .officePic {
  display: flex;
  justify-content: center;
  -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.1));
}
.officePic img {
  width: 100%;
  object-fit:cover;
}




@media (max-width: 850px) {
    .logo {
        width: 15%;
    }
    .navigation {
        display: none;
        grid-template-columns: auto;
        position: absolute;
        right: 0%;
        justify-content: right;
        background-color: transparent;
        width: 100%;
        z-index: 10;
        margin-top: 8vw;

    }
    .navigation button, .drp-dwn-bttn button {
        font-size: 2vw;
        justify-content: right;

    }
    .dropdowns-contents {
        
        margin-top: 5vw;
        right: 0%;
        font-size: 2vw;

    }
    .navigation button, .drp-dwn-bttn button {
        padding: 1rem 2rem 0rem 0rem;
    }
    .dropdowns-contents a {
        font-size: 1.7vw;
        line-height: 3vw;
    }
    .slogan {
        margin-top: 1rem;
    }
    .solutions {
        grid-template-columns: auto;
        width: 50%;
        margin: auto;
    }
    .it-infra-label, .dev-sw-label, .sec-consult-label{
        font-size: 2.7vw;
        padding-bottom: 4vw;  
    }
    .gradient-contents {
        grid-template-columns: auto;
        width: 70%;
        margin-bottom: 7vw;

    }
    .firstSection {
        grid-template-columns: auto;
    }
    .firstSection .header-h {
        font-size: 4vw;

    }
    .firstSection .paragraph {
        font-size: 3vw;

    }

    .secondSection {
        grid-template-columns: auto;
    }
    .boxes {
        /* height: 60vw; */
        align-items:baseline;
    }
    .p-body{
        font-size: 3vw;
        margin-top: 2vw;
    }
    .h-title{
        font-size: 3vw;
        margin-top: 0;
    }
    .menuIcon {
        display: flex;

    }
}
