html, body {
    height: 100vh;
    margin: 0;
    background-color: #1e1e1e;
    
}

.navigation {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    justify-content: center;
    background-color: #303030;
    gap: 3%;
    height: 3vw;

    
}
.drp-dwn-bttn {
    display: flex;
}
.navigation button, .drp-dwn-bttn button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 1vw;
    color: #333;
    font-family: 'Nunito', sans-serif;
    background-color: transparent;
    border: 0px;
    cursor:pointer;
    padding: 0rem;
    color: whitesmoke;
}

.menuIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3vw;
    font-family: 'Nunito', sans-serif;
    font-size: 1vw;
    color: #333;
    background-color: transparent;
    border: 0px;
    cursor:pointer;
    padding: 0rem;
    color: whitesmoke;

}
.navigation :hover {
    font-weight: bolder;

}

.drp-dwn-bttn:hover .dropdowns-contents{
    display: grid;
}

.dropdowns-contents {
    display: none;
    position:absolute;
    width: 100%;
    justify-content:space-around;
    grid-template-columns: auto auto auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    background-color: #333;
    margin-top: 3%;
    padding-bottom: 1.875rem;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 1vw;
    left: 0%;

}

.it-infras, .dev-and-sw, .sec-and-consult {
    display: grid;
    grid-template-columns: auto;
    justify-content: left;
    padding: 2rem;

}

.dropdowns-contents a {
    color: white;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    font-size: 1vw;
    line-height: 2vw;
}
.dropdowns-contents ul :hover {
    font-weight: bolder;
    color: #40c1dd;
}

/* .dropdowns-contents :hover {
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    background-color: #04AA6D;
    border-radius: 1rem;

} */
  

.entrySection {
    display: grid;
    grid-template-rows: 0.7fr 1fr;
    width: 100%;

}
.slogan {
    display: flex;
    padding: 0rem 2rem 0rem 2rem;
    justify-content: center;
    align-items: center;
}
.slogan h1 {
    margin-bottom: 0rem;
    font-size: 3vw;
    font-family: 'Archivo Black', sans-serif;
    color: whitesmoke;
    padding: 2rem 0rem 0rem 0rem;
    text-shadow: 1px 1px 1px whitesmoke;
  
  }
  .slogan span {
    color: #40c1dd;
    text-shadow: 1px 1px 1px rgb(40, 26, 91);
  }

.solutions {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 3%;
    padding: 0rem 2rem 0rem 2rem;
    justify-content: center;
    align-items: center;
    
}
.it-infra, .dev-sw, .sec-consult {
    display: grid;
    grid-template-columns: auto auto;
    /* grid-row: auto; */
    gap: 0.9%;
    


} 

.managed-ser img, .sw-dev img, .cyber-sec img, .virtualization img, .data-backup img, .helpdesk img  {
    display: flex;
    width: 100%;
    object-fit: cover;
    border-top-right-radius:20%;
    border-bottom-left-radius:20%;
    -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.1));
    z-index: 10;
}
.net-setup img, .web-dev img, .cloud img, .hw-support img, .database img, .it-consult img {
    display: flex;
    width: 100%;
    object-fit: cover;
    border-top-left-radius:20%;
    border-bottom-right-radius:20%;
    -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.1));
}
.it-infra-label, .dev-sw-label, .sec-consult-label{
    display: flex;
    justify-content: center;
    grid-column: span 2;
    font-family: 'Nunito', sans-serif;
    font-size: 1.5vw;
    color: white;
    text-align: center;
    /* padding-top: 4rem; */
    
}
